# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\kraaiennest\projects\kraaiennestapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
